<h1>Editing Comment</h1>

<%= @comment.errors.full_messages.join(", ") %>
<%= form_for [@post, @comment] do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
