<div class="container">
  <h1>Edit User Information</h1>
  <%= @user.errors.full_messages.join(", ") %>
  <%= bootstrap_form_for @user do |f| %>
    <div class="content text-left">
      <%= f.text_field :first_name %>
      <%= f.text_field :last_name %>
      <%= f.email_field :email %>
      <%= f.submit class: "btn btn-large btn-primary"  %>
      <%= link_to "Change Password", change_password_path %>
    </div>
  <% end %>
</div>
