<h1>All Posts</h1>

<%= form_tag(posts_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
  <%= submit_tag "Search" %>
<% end %>

<div class="page_counter">
  <% if params[:search] %>
    <% @posts = Post.search(params[:search]).order("created_at DESC") %>
  <% else %>
    <%= paginate @posts %>
  <% end %>

</div>

<div class="posts_list">
  <% @posts.each do |post| %>
    <%= link_to post.title, post_path(post) %>
    <hr />
  <% end %>
</div>
