<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav>
      <%= link_to "Home", root_path %> |
      <%= link_to "About", about_path %> |
      <%= link_to "New Post", new_post_path %> |
      <%= link_to "All Posts", posts_path %> |
      <%#= link_to "New Comment", new_comment_path %> 
      <%#= link_to "All Comments", comments_path %>
    </nav>
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
