<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav class="navbar navbar-dark bg-primary navbar-fixed-top" style="font-size: 20px">
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "New Post", new_post_path %></li>
      <li><%= link_to "All Posts", posts_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to "All Favourites", favourites_path %></li>
        <li><%= link_to "Signed in as: #{current_user.full_name}", edit_user_path(session[:user_id])%></li>
        <li><%= link_to "Sign Out", sessions_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_path %></li>
        <li><%= link_to "Sign In", new_sessions_path %></li>
        <%= link_to sign_in_with_twitter_path do %>
          <button class="btn btn-social btn-twitter"><span class="fa fa-twitter"></span>Sign in with Twitter</button>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <div class="jumbotron" style="background:#f28175">
    <% if flash[:notice] %>
      <div class="flash-notice"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
      <div class="flash-alert"><%= flash[:alert] %></div>
    <% end %>
    <div class="container text-center">
        <%= yield %>
    </div>
  </div>
</body>
</html>
